<div>
  <div class="contact">
    <div class="contactwrapper">
      <h1>Contact Us</h1>
    </div>
  </div>

  <div>
    <h1 style="text-align:left; padding-top:4pc;font-family:Comic Sans MS">Rangolee authentic Indian cuisine</h1>
    <i class="fa fa-home" style="font-size:30px;color:#01579B;float:left;">Frankfurt</i>
    <br>
    <br>
    <i class="fa fa-phone" style="font-size:30px;color:#01579B;float:left">+491234567890</i>
    <br>
    <br>
    <i class="fa fa-envelope" style="font-size:30px;color: #01579B;float:left">rangolee.de@abc.com</i>
    <br>
    <br>
    <i class="fa fa-fax" style="font-size:30px;color:#01579B;float:left">123456</i>
    <br>
    <br>
  </div>

  <div>
    <h1 style="padding-top:5pc">Contact Form </h1>
    <h2>Do you have anything in your mind to tell us? Please don't hesitate to get in touch to us via our contact form.</h2>
    <div class="infotext">
      <label for="name" style="float:left">Full Name:</label>
      <br>
      <input type="text" name="name" placeholder="Enter your name" class="textbox">
      <br>
      <br>
      <label for="email" style="float:left">Email Address:</label>
      <br>
      <input type="email" name="email" placeholder="youremail@mail.com" class="textbox">
      <br>
      <br>
      <label style="float:left">Message:</label>
      <br>
      <textarea input type="text" placeholder="write your message" name="message" class="messagetextbox"></textarea>
      <br>
      <br>
      <div class="sendbtnwrapper">
        <button id="send" class="sendbtn" onclick="SendFunction">Send</button>
        <br>
        <br>
      </div>

    </div>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>