
  .contact{
    background-image: url("assets/images/contact.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	width: auto;
    height: auto;
    max-width: 100%;
	background-position: center center;
	position: relative;
    font-style: oblique;
    font-size:0.40in;
    font-weight: bold;
    align-items: center;
    
}
.contactwrapper{
    font-family: serif;
    text-align: center;
    padding: 10pc;
    color:#FFE57F;
}
.infotext{
    font-weight:bold;
    font-size: 0.3in;
   padding-right:70%;
   font-style: italic;
   padding-left:0.5pc;
}

.textbox{
    border: 2px solid black;
    padding: 20px;
    width:300px;
     height:1px;
    text-align: start;
    float: left;
    font-style: italic;
}

.messagetextbox{
    border: 2px solid black;
    height: 100px;
    width: 80%;
    margin-right:10px;
   font-size: 15px;
   float: left;
  
}
.sendbtn{
    height:1cm;
    width:3cm;
    color:black;
    float: left;
    font-style: italic;
}
.sendbtnwrapper{
    padding-top: 5pc;
}
.address{
    padding-left: 0.5pc;
}