agm-map {
    
    position: absolute;top:470px; right:20px; width:600px; height:300px;

  }

  .contact{
  
    background-attachment: scroll;
    background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vh;
	background-position: center center;
	position: relative;
    background-position: center;
    font-style: oblique;
    font-size:0.40in;
    font-weight: bold;
    align-items: center;
    position: relative;
    
}
.contactwrapper{
    font-family: serif;
    text-align: center;
    padding: 10pc;
    color:floralwhite;
}
.address{
    padding-left: 10px;
    font-family:cursive;
    color:firebrick;
}
.infotext{
    font-weight:bold;
    font-size: 0.3in;
   padding:20px;
    float: left;

}
.textbox{
    border: 2px solid black;
    margin: 0px;
    padding: 20px;
    width:350px;
     height:1px;
    text-align: start;
}
.message{
    margin-block-start:2.5in;
}
.messagetext{
    font-weight:bold;
    font-size: 0.3in;

   
}
.messagetextbox{
    border: 2px solid black;
    height: 200px;
    width: 700px;
    margin-left:20px;
   font-size: 15px;
   
}
