.background{
    align-content: flex-start;
    text-align:center;
    background-size: cover;
   background-position: center;
}
.text{
    text-align: left;
    color: brown;
}
.toolbar{
    align-content:center;
    background-color:black;
   
}

.navbar{
    background-color:rgb(34, 34, 34);
}


nav a{
    color:black!important;
    font-weight:bold;
    font-size:16px;
    text-transform: uppercase;
    background-color:transparent;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFD600;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    margin-left: 100px;
    position: fixes;
   
}

li a:hover {
    background-color: #FFAB00
    ;
}

#social {
    margin-left: 50%;
   position:fixes;
  }
  
  .smGlobalBtn { 
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border:1px solid #ddd; 
      box-shadow: 0 3px 3px #999;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 15px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }
  
  .facebookBtn{
      background: #4060A5;
  }
  
  .facebookBtn:before{ 
      font-family: "FontAwesome";
      content: "\f09a"; 
  }
  
  .facebookBtn:hover{
      color: #4060A5;
      background: #fff;
      border-color: #4060A5; 
  }
  
  .twitterBtn{
      background: #00ABE3;
  }
  
  .twitterBtn:before{
        font-family: "FontAwesome";
        content: "\f099"; 
        
  }
  
  .twitterBtn:hover{
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
  }
  
  .googleplusBtn{
      background: #e64522;
  }
  
  .googleplusBtn:before{
        font-family: "FontAwesome";
        content: "\f0d5"; 
  }
  
  .googleplusBtn:hover{
        color: #e64522;
        background: #fff;
        border-color: #e64522;
  }
  
  .linkedinBtn{
      background: #0094BC;
  }
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; 
  }
  
  .linkedinBtn:hover{
        color: #0094BC;
        background: #fff;
        border-color: #0094BC;
  }
  .footer {
    width: 100%;
    padding :0.1%;
    background-color: black;
    color: white;
    text-align: center;
    
 }

  .spacer {
  align-items: center;
}
.back{
    background-image: url("assets/images/e.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center center;
	position: relative;
    align-items: center;
}
