<!--The content below is only a placeholder and can be replaced.-->
<div class="back">
<div class="background">
  <mat-toolbar class="toolbar">
    <span>
      <h1 class="text">Rangolee</h1>
    </span>
  </mat-toolbar>
  <nav class="navbar" mat-tab-nav-bar>
      <ul>
          <li><a class="active" href="/home" translate>Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/orderonline">Online Order</a></li>
          <li><a href="/reservetable">ReserveNow</a></li>
          <li><a href="/contactus">Contact</a></li>
        </ul>
  </nav> 
  <div>
      <!-- routing here -->      
      <router-outlet></router-outlet>
  </div>
</div>
<br>
<br>
<br>
<mat-toolbar class="toolbar">
    <h3 style="color:white; text-align:center">© Copyright Rangolee authentic Indian cuisine.</h3>
  <div id="social">
      <h3 style="color:white">Follow us at
      <a class="facebookBtn smGlobalBtn" href="#" ></a>
      <a class="twitterBtn smGlobalBtn" href="#" ></a>
      <a class="googleplusBtn smGlobalBtn" href="#" ></a>
      <a class="linkedinBtn smGlobalBtn" href="#" ></a>
    </h3>
    </div>
</mat-toolbar>
</div>   
