.background{
    align-content: flex-start;
    text-align:center;
    /* background-image : url("favicon.ico"); */
    background-size: cover;
   background-position: center;
}
.text{
    text-align: left;
    color: brown;
}
.toolbar{
    background-color:#5597b4;
}

.navbar{
    background-color:#5597b4;
}


nav a{
    color:#fff !important;
    font-weight:bold;
    font-size:16px;
    text-transform: uppercase;
    background-color:transparent;
}