.text{
    text-align: left;
    color: brown;
}
.header{
    align-content:center;
    background-color:black;
}
.content{
    padding-top: 50px;
    z-index: 1;
    position: relative;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    z-index: 2;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

nav {
    width: 100%;
    background-color:rgb(34, 34, 34);
}

nav a{
    color:black!important;
    font-weight:bold;
    font-size:16px;
    text-transform: uppercase;
    background-color:transparent;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFD600;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    margin-left: 10pc;
    position: fixes;
   
}

li a:hover {
    background-color: #FFAB00;
}
  
  .smGlobalBtn { 
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border:1px solid #ddd; 
      box-shadow: 0 3px 3px #999;
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 15px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 27px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }
  
  .facebookBtn{
      background: #4060A5;
  }
  
  .facebookBtn:before{ 
      font-family: "FontAwesome";
      content: "\f09a"; 
  }
  
  .facebookBtn:hover{
      color: #4060A5;
      background: #fff;
      border-color: #4060A5; 
  }
  
  .twitterBtn{
      background: #00ABE3;
  }
  
  .twitterBtn:before{
        font-family: "FontAwesome";
        content: "\f099"; 
        
  }
  
  .twitterBtn:hover{
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
  }
  
  .googleplusBtn{
      background: #e64522;
  }
  
  .googleplusBtn:before{
        font-family: "FontAwesome";
        content: "\f0d5"; 
  }
  
  .googleplusBtn:hover{
        color: #e64522;
        background: #fff;
        border-color: #e64522;
  }
  
  .linkedinBtn{
      background: #0094BC;
  }
  
  .linkedinBtn:before{
        font-family: "FontAwesome";
        content: "\f0e1"; 
  }
  
  .linkedinBtn:hover{
        color: #0094BC;
        background: #fff;
        border-color: #0094BC;
  }

  .spacer {
  align-items: center;
}
.background{
    background-image: url("assets/images/e.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
	background-position: center center;
	position: relative;
    align-items: center;
}
   #footer {
    height: 70px;
    width:100%;
    align-items: center;
    background: black;
    text-align: center;
}
    #copyright{
    color: white;
    margin-left:2%;
    float:left;
    text-align: left;
    }
    #social{
    margin-right:2%;
    float:right;
    text-align: right;
    }