
.menu{
    background-image: url("assets/images/menu.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	width: auto;
    height: auto;
    max-width: 100%;
	background-position: center center;
	position: relative;
    font-style: oblique;
    font-size:0.40in;
    font-weight: bold;
    align-items: center;
}
.menuwrapper{
    font-family: serif;
    text-align: center;
    padding: 10pc;
    color:#FFE57F;
}