<div class="back">
    <div class="menu">
      <h1 >Menu</h1>
    </div>
  </div>
  
      <img src="assets/images/DEEYA_INDIAN_MENU-1.jpg" style="width:40%;height:40%;padding:20px">
      
      <img src="assets/images/DEEYA_INDIAN_MENU-2.jpg" style="width:40%;height:40%;padding:20px">
      
      <img src="assets/images/DEEYA_INDIAN_MENU-3.jpg" style="width:40%;height:40%;padding:20px">
      
      <img src="assets/images/DEEYA_INDIAN_MENU-4.jpg" style="width:40%;height:40%;padding:20px">
  
  
    