<div>
  <div class="menu">
    <div class="menuwrapper">
      <h1>Menu</h1>
    </div>
  </div>
  
      <img src="assets/images/menu1.jpg" style="width:40%;height:40%;padding:60px">
      
      <img src="assets/images/menu2.jpg" style="width:40%;height:40%;padding:60px">
      
      <img src="assets/images/menu3.jpg" style="width:40%;height:40%;padding:60px">
      
      <img src="assets/images/menu4.jpg" style="width:40%;height:40%;padding:60px">

      <img src="assets/images/menu5.jpg" style="width:40%;height:40%;padding:60px">

      <img src="assets/images/menu6.jpg" style="width:40%;height:40%;padding:60px">

</div>