<div>
  <div class="home">
    <div class="homewrapper">
      <h1>Rangolee authentic Indian cuisinie</h1>
    </div>
  </div>
  <div>
    <h2 style="font-style:italic;text-align:center">Opening hours</h2>
    <h3 style="font-style: italic;text-align:center">MONDAY - SATURDAY</h3>
    <h3 style="font-style: italic;text-align:center"> LUNCH
      <br>
      <br> 11:00-2:30 pm</h3>
    <br>
    <h3 style="font-style: italic;text-align:center">DINNER
      <br>
      <br> 7:00-11:00 pm
    </h3>
  </div>
</div>