.aboutus{
    background-image: url("assets/images/about.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	width: auto;
    height: auto;
    max-width: 100%;
	background-position: center center;
	position: relative;
    font-style: oblique;
    font-size:0.40in;
    font-weight: bold;
    align-items: center;
}
.aboutuswrapper{
    font-family: serif;
    text-align: center;
    padding: 10pc;
    color:black;
}
.content{
    font-family: serif;
    font-size: 1.5pc;
}
.header{
    font-family: serif;
    font-weight: bold;
    text-align: center;
}
