<div>
  <div class="aboutus">
    <div class="aboutuswrapper">
      <h1> About us</h1>
    </div>
  </div>

  <div>
    <mat-card>
      <img mat-card-sm-image src="assets/images/about-2.jpg">
      <br>
      <mat-card-title class="header">~~ NAMASTE ~~</mat-card-title>
      <mat-card-content class="content">
          <p>
            Colors play a prominent part of every individuals lives. The sanskrit word for color is “रङ्ग" (Rang/Varnaa), and term Rangolee
            is basically derived from two separate words “Rang” (means Color) and “aavali” (Means row of colors).
            Rangolee is a traditional art from the Indian subcontinent for drawing patterns with colored powders of rice or sand. This
            tradition has history traced back to the Indus valley civilization to its present day used across Indian households
            passed on from generation to generation.
          </p>
          <p>
            Indian cuisine traditionally, is known for its assortment of dishes that play with mix of colors (“रङ्ग”) and herbs. It uses
            a huge variety of spices added in right amounts to bring out the best of the tastes and health benefits.
            We would like to present to you the rich, authentic Indian food full of country's rich culinary tradition. Exquisite dishes
            made from recipes passed by generations by experienced professionals and household cooks.
          </p>
          <p>
            As Indians, we culturally have the highest regards for our guests ‘Athithi devo bhava’ translates to ‘Guests are forms of
            GOD’. At RANGOLEE, we value Hospitality and welcome you to our world of rich tradition in terms of colors, food,
            music made with love and care.
          </p>
      </mat-card-content>
      <mat-card-footer class="footer">~~ RANGOLEE ~~</mat-card-footer>
    </mat-card>
  </div>
  <div>
    <h1 align="center">Reviews</h1>
  </div>
</div>