.aboutus{
    background-image: url("assets/images/about.jpg");
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;
}
.aboutuswrapper{
    font-family: serif;
    font-style: oblique;
    font-size:0.48in;
    font-weight: bold;
    text-align: center;
    padding: 10pc;
    color:#FFE57F;
}
.content{
    font-family: serif;
    font-size: 1.5pc;
}
.header{
    font-family: serif;
    font-weight: bold;
    text-align: center;
}
