<div class="aboutus">
  <div class="aboutuswrapper">
   About us
  </div>
</div>

<div>
  <mat-card>
    <mat-card-content>
        <div class="content">
          <p class="header">WELCOME TO RANGOLEE</p>
            <p>
                 The cuisine of India is one of the world's most diverse cuisines, characterized by its sophisticated and subtle use of the many spices, vegetables, grains and fruits grown across India.
                 The cuisine of each geographical region includes a wide assortment of dishes and cooking techniques reflecting the varied demographics of the ethnically diverse Indian subcontinent. 
                 India's religious beliefs and culture have played an influential role in the evolution of its cuisine. Vegetarianism is widely practiced in many Hindu, Buddhist and Jain communities.
                 India’s unique blend of cuisines evolved through large-scale cultural interactions with neighboring Persia, ancient Greece, Mongols and West Asia. New World foods such as chili peppers,
                 tomatoes, potatoes and squash, introduced by Arab and Portuguese traders during the sixteenth century, and European cooking styles introduced during the colonial period added to the
                 diversity of Indian cuisine.</p>  
          <p>  Indian cuisine has also influenced cuisines across the world, especially those of South East Asia. It is now one of the most popular cuisines across the globe, enjoyed not only among the 
               large Indian diaspora but also by the general population in North America, Europe, Australia and parts of Africa.
            </p>
          </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <h1 align="center">Reviews</h1>
</div>
