
.tablereservation{
  background-image: url("assets/images/reserved.jpg");
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  align-items: center;

}
.tablewrapper{
  font-family: serif;
  font-style: oblique;
  font-size:0.48in;
  font-weight: bold;
  text-align: center;
  padding: 10pc;
  color:floralwhite;
}
.reservetable-card {
  width: 400px;
  height: 400px;
  align-items: center;
  background-color: lightgray;

}
.textwrapper{
  width:300px; 
  height:25px; 
 
  padding: 0pc;
  background-color:peru;
}
.datepicker { 
  position: relative;
}
.reservebtn{
  background-color:peru;
}
.background-image{
  background-image: url("assets/images/background.jpg");
  width: 100%;
  height: 100%;
}