
.tablereservation{
  background-image: url("assets/images/reserve.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
	background-size: cover;
	width: auto;
  height: auto;
  max-width: 100%;
	background-position: center center;
	position: relative;
  font-style: oblique;
  font-size:0.40in;
  font-weight: bold;
  align-items: center;

}
.tablewrapper{
  font-family: serif;
    text-align: center;
    padding: 10pc;
    color:#FFE57F;
}
.reservetable-card {
  width: 400px;
  height: 400px;
  align-items: center;
}
.textwrapper{
  width:300px; 
  height:25px; 
  padding: 0pc;
  background-color:#82B1FF;
}
.datepicker { 
  position: relative;
}
.reservebtn{
  background-color:peru;
}
